.Flex.Center.Base
  .Card-Container
    .Header
      = image_tag "material/logo/logo.png", alt: "フリマロゴ", class: 'logo'
    .Card-main
      .Input-box
        %h2.Input-box__title クレジットカード情報入力

        // クレカ情報入力フォーム
        = form_with url: pay_credit_cards_path, html: { name: "inputForm" }, id: 'charge-form', method: :post do |f|
        
          .Input-box__field

            // カード番号入力
            .Input-box__input-form
              = f.label :カード番号 ,class: 'Input-box__input-form--title'
              %span.Input-box__input-form--require 必須
              %br/
              = f.text_field :number, class: 'Input-box__input-form--form', placeholder: '  半角数字のみ', maxlength:"16", id: "card_number", type: "text"
            .Input-box__card-image
              = image_tag "material/logo/visa-logo.png", alt: "visa", class: 'card-logo'
              = image_tag "material/logo/mastercard-logo.png", alt: "mastercard", class: 'card-logo'
              = image_tag "material/logo/amex-logo.gif", alt: "amex", class: 'card-logo'
              = image_tag "material/logo/jcb-logo.gif", alt: "jcb", class: 'card-logo'
              = image_tag "material/logo/dinersclub-logo.png", alt: "dinersclub", class: 'card-logo'
              = image_tag "material/logo/discover_logo.jpg", alt: "discover", class: 'card-logo'

            // 有効期限入力
            .Input-box__input-form
              = f.label :有効期限 ,class: 'Input-box__input-form--title'
              %span.Input-box__input-form--require 必須
              %br/
              .Input-box__input-form--efective-date
                = f.select :exp_month, [["01", 1], ["02", 2], ["03", 3], ["04", 4], ["05", 5], ["06", 6], ["07", 7], ["08", 8], ["09", 9], ["10", 10], ["11", 11], ["12", 12]], {}, class: 'Input-box__input-form--pulldown', type: "text"
                %span 月
                = f.select :exp_year, [["20", 2020], ["21", 2021], ["22", 2022], ["23", 2023], ["24", 2024], ["25", 2025], ["26", 2026], ["27", 2027], ["28", 2028], ["29", 2029], ["30", 2030]], {}, class: 'Input-box__input-form--pulldown', type: "text"
                %span 年

              // cvc入力
              .Input-box__input-form
              = f.label :セキュリティコード ,class: 'Input-box__input-form--title'
              %span.Input-box__input-form--require 必須
              %br/
              = f.text_field :cvc, class: 'Input-box__input-form--form', placeholder: '  カード裏面4桁もしくは3桁の番号', maxlength:"4", type: "text"

            #card_token

            // 情報送信ボタン
            .actions
              = f.submit "登録する", class: 'Input-box__submit-btn', id: "token_submit"


    .Footer
      = image_tag "material/logo/logo.png", alt: "フリマロゴ", class: 'logo'
      .Footer__text © FURIMA