.show-container
  = render "items/header"
  - breadcrumb :mypage
  = render "layouts/breadcrumbs"
  .show-main
    .sidebar
      .menu
        %h2.menu__title マイページメニュー
        .menu__list
          %ul
            = link_to favorites_users_path, class:"menu__list--btn" do
              %li お気に入り一覧
      .menu
        %h2.menu__title 商品を出品・購入
        .menu__list
          %ul
            = link_to new_item_path, class:"menu__list--btn" do
              %li 商品を出品する
            = link_to listed_items_users_path, class:"menu__list--btn" do
              %li 出品した商品
      .menu
        %h2.menu__title 設定・その他
        .menu__list
          %ul
            = link_to "#", class:"menu__list--btn" do
              %li 設定
            = link_to credit_cards_new_path, class:"menu__list--btn" do
              %li クレジットカード登録・変更
            = link_to edit_user_path , class:"menu__list--btn" do
              %li ログアウト
    .content
      .user-nickname
        = current_user.nickname
        さんのマイページ
      .content__title
        重要なお知らせ
      .content__detail
        開発中です！！
  = render "items/footer"
  = render "items/putup-btn"