.Flex.Center.Base
  .Container
    .Header
      = image_tag "material/logo/logo.png", alt: "フリマロゴ", class: "logo"
    .Sell-main
      .sell-box
        = form_with model: @item, local: true do |f|
          .sell-box__sell-form
            .sell-box__edit-title 商品を編集してください
            .sell-box__image-frame
              .sell-box__image-frame__title
                出品画像
                %span.sell-box__require 必須
              .sell-box__image-frame__guide 最大10枚までアップロードできます
              %input{name: "item_images_length", type: "hidden", value: @item.images.length, class: 'item_images_length'}/
              .edit-preview
                - @item.images.each do |image|
                  .item-image-edit
                    .item-image-edit__content
                      = image_tag image, class: "item-image-edit__content--icon", width: "114px", height: "76px"
                      = f.check_box :image_ids, {multiple: true}, image.id, false
                      %label.delete_check_box(for="item_image_ids_#{image.id}") 削除
              #image-box-1
                .item-num-0#image-box__container
                  .sell-box__upload
                    .sell-box__upload__image
                      = f.label :images ,class: "sell-box__upload__add-image" do
                        = icon('fas','camera', class: "camera-icon")
                        = f.file_field :images, multiple: true,type: 'file', value:"",class: "Hidden"
            .sell-box__item
              .sell-box__item__title-area
              .sell-box__item__name
                = f.label :商品名 ,class: "sell-box__item__name"
                %span.sell-box__require 必須
                %br
                = f.text_field :name, class: "sell-box__item__form", placeholder: "40文字まで", maxlength:"40"
              .sell-box__item__description
                = f.label :商品の説明 ,class: "sell-box__item__description"
                %span.sell-box__require 必須
                %br
                = f.text_area :description, class: "sell-box__item__description-form", placeholder: "商品の説明（必須 1,000文字以内） &#13;&#10;（色、素材、重さ、定価、注意点など） &#13;&#10; &#13;&#10;例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。".html_safe, maxlength:"1000"
                .sell-box__item__word-counter
                  %span.numerator 0
                  %span.denominator /1000
            .sell-box__detail
              .sell-box__detail__title 商品詳細
              .sell-box__detail__category
                = f.label :カテゴリー ,class: "sell-box__detail__category"
                %span.sell-box__require 必須
                %br
                .item_input__body__category#category_box
                  .pulldown#partent_box
                    = f.select :parent_id, options_for_select( @category_parent_array.map{|c| [c[:name], c[:id]]},@item.category.parent.parent.id), {}, { class: "parent_category_box", id: "parent_category"}
                  .pulldown.item_input__body__category__children#children_box
                    = f.select :children_category, options_for_select(@category_children_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.parent.id}),{}, {class: 'item_input__body__category__children--select', id: 'children_category'}
                  .pulldown.item_input__body__category__grandchildren#grandchildren_box
                    = f.select :category_id, options_for_select(@category_grandchildren_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.id}),{}, {class: 'item_input__body__category__grandchildren--select', id: 'grandchildren_category', name:"item[category_id]"}
                .sell-box__detail__size
                = f.label :サイズ ,class: "sell-box__detai__size"
                %span.sell-box__require--any 任意
                %br
                = f.select :size ,[["選択してください", ""],["XXS以下", "XXS以下"], ["XS(SS)", "XS(SS)"], ["S", "S"], ["M", "M"], ["L", "L"], ["XL(LL)", "XL(LL)"], ["2XL(3L)", "2XL(3L)"], ["3XL(4L)", "3XL(4L)"], ["4XL(5L)", "4XL(5L)"], ["FREE SIZE", "FREE SIZE"]], {},class: "sell-box__detail__form"
              .sell-box__detail__brand
                = f.label :ブランド ,class: "sell-box__detail__brand"
                %span.sell-box__require--any 任意
                %br
                = f.text_field :brand ,class: "sell-box__detail__form", placeholder: " 例）シャネル"
              .sell-box__detail__status
                = f.label :商品の状態 ,class: "sell-box__detail__status"
                %span.sell-box__require 必須
                %br
                = f.select :status ,[["選択してください", ""],["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]], {},class: "sell-box__detail__form"
            .sell-box__freight
              %h3.sell-box__freight__title 配送について
              .sell-box__freight__charge
                = f.label :配送料の負担 ,class: "sell-box__freigt__charge"
                %span.sell-box__require 必須
                %br
                = f.select :freight ,[["選択してください", ""],["送料込み(出品者負担)", "送料込み(出品者負担)"], ["着払い(購入者負担)", "着払い(購入者負担)"]], {},class: "sell-box__freight__form"
              .sell-box__freight__shipment-source
                = f.label :配送元の地域 ,class: "sell-box__freigt__shipment-source"
                %span.sell-box__require 必須
                %br
                = f.collection_select :shipment_source, Prefecture.all, :id, :name, {} ,class: "sell-box__freight__form"
              .sell-box__freight__ship-date
                = f.label :発送までの日数 ,class: "sell-box__freigt__ship-date"
                %span.sell-box__require 必須
                %br
                = f.select :ship_date ,[["選択してください", ""],["1~2日で発送", "1~2日で発送"], ["2~3日で発送", "2~3日で発送"], ["4~7日で発送", "4~7日で発送"]], {},class: "sell-box__freight__form"
            .sell-box__price
              %h3.sell-box__price__title 価格（¥300〜9,999,999）
              .sell-box__price-area
                = f.label :販売価格 ,class: "sell-box__price-area__selling-price"
                .sell-box__price-area__price-require 必須
                .sell-box__price-area__yen ￥
                = f.text_field :price, class: "sell-box__price-area__form", placeholder: " 0"
              .sell-box__commission
                .sell-box__commission__text 販売手数料（10％）
                .sell-box__commission__sum ー
              .sell-box__profit
                .sell-box__profit__text 販売利益
                .sell-box__profit__sum ー
            .sell-box__actions
              = f.submit "編集を確定する",class: 'sell-box__actions__submit-btn'
              %br
              - if @item.images.length <= 10 && @item.images.length > 0
                = link_to item_path,class: "sell-box__actions__back-btn" do
                  キャンセル
          .warning
            .warning__text
              禁止されている行為および出品物を必ずご確認ください。
              偽ブランド品や盗品物などの販売は犯罪であり、
              法律により処罰される可能性があります。 
              また、出品をもちまして加盟店規約に同意したことになります。

    .Footer
      = image_tag "material/logo/logo.png", alt: "フリマロゴ", class: "logo"
      .Foote__text © FURIMA 