.Flex.Center.Base
  .Container
    .Header
      = image_tag "material/logo/logo.png", alt: "フリマロゴ", class: 'logo'
    .Main
      .purchase-box
        %h2.purchase-box__title 購入内容の確認
        .purchase-box__item-frame
          .detail
            .detail__image
              - @item.images.first(1).each do |image|
                = image_tag image, alt: "商品画像", class: 'item-image'
            .detail__item
              %h3.detail__item__name 
                = @item.name
              .total-cost
                .total-cost__price 
                  = @item.freight
                .total-cost__en ￥
                .total-cost__sum 
                  = @item.price
        .purchase-box__payment
          .payment-area
            %h4.payment-area__title 支払い金額
            .payment-area__total-cost
              .payment-area__total-cost__yen ￥
              .payment-area__total-cost__sum 
                = @item.price
        .purchase-box__payment-method
          .credit-card
            - if current_user.credit_card.nil?
              .credit-card__before-registration
                %h5.credit-card__before-registration__title 支払い方法
                = link_to new_credit_card_path do
                  = icon('fas', 'plus-circle')
                  登録してください
            - else
              .credit-card__registration
                %h5.credit-card__registration__title 支払い方法
                = link_to new_user_registration_path do
                  変更する
                  = icon('fas', 'angle-right')
              .credit-card__infometion
                .credit-card__infometion__text クレジットカード
                .credit-card__infometion__number 
                  = "**** **** **** " + @default_credit_card_information.last4
                - exp_month = @default_credit_card_information.exp_month.to_s
                - exp_year = @default_credit_card_information.exp_year.to_s.slice(2,3)
                .credit-card__infometion__expiration 
                  = "有効期限 " + exp_month + " / " + exp_year
                = image_tag "material/logo_visa.png", alt: "カードロゴ", class: 'card-logo'
            
        .purchase-box__address
          .current-address
            .current-address__registration
              %h6.delivery-address__registration__title 配送先
              = link_to new_user_registration_path do
                変更する
                = icon('fas', 'angle-right')
            .delivery-address
              .delivery-address__postcode 
                = "〒" + current_user.address.postcode.first(3) + "-" + current_user.address.postcode.last(4)
              .delivery-address__text
                = current_user.address.prefecture + current_user.address.city + current_user.address.block + current_user.address.building_name
              .delivery-address__name 
                = current_user.address.family_name + " " + current_user.address.first_name
        .purchase-box__decision
          .decision-area
            - if current_user.credit_card.nil?
              %button.decision-area__no-btn 購入する

            - else
              = link_to transactions_done_path, class: "decision-area__btn" do
                %button.decision-area__btn 購入する
    .Footer
      = image_tag "material/logo/logo.png", alt: "フリマロゴ", class: 'logo'
      .Footer__text © FURIMA 
